body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0px;
  display: flex;
  min-height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(50deg, rgb(177, 7, 177), rgb(62, 62, 181));
}
#all {
  background-color: rgba(255, 255, 255, 0.362);
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}
.btn {
  background-color: rgb(94, 89, 84);
  border: none;
  text-decoration: none;
  border-radius: 20%;
  color: white;
}
#info {
  color: black;
}
.users {
  background-color: rgba(255, 255, 255, 0.362);
  border: 1px solid white;
  border-radius: 5px;
  margin: 20px;
  min-width: 200px;
  min-height: 200px;
}
#list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
